body {
	font-family: sans-serif;
	color: #333;
	max-width: 800px;
	padding: 20px;
	background-color: #fcfcfc;
}

p {
	color: #333333;
}

h1 {
	color: white;
	background-color: #3f3faf;
	padding: 15px 20px;
	border-radius: 5px;
	text-shadow: navy 3px 3px 10px;
	margin-bottom: 30px;
}

h2 {
	margin: 30px 0 15px 0;
	font-family: sans-serif;
	color: #3f3faf;
	background-color: #ffefaf;
    padding: 8px 12px;
	border-left: 6px solid #3f3faf;
}

h3 {
	color: navy;
	margin: 20px 0 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px dashed #3f3faf;
}

ul {
	background-color: #ffefaf;
	padding: 15px 15px 15px 35px;
	border-radius: 5px;
	margin-bottom: 20px;
}

li {
	color: #333333;
	margin-bottom: 8px;
}

a {
	color: navy;
	font-weight: bold;
}

a:hover {
	color: #9c1616;
}