p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color: white;
	text-shadow: navy 3px 0 10px;
}

h2 {
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background: linear-gradient(to right, white , #ffefaf);
	
}

img {
	float: right;
}

p {
	padding: 5px;
	margin: 10px;
}


div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 200px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
